<div class="ls-navigation">
  <h1 class="title">
    <a href="{{languagePrefix}}/">
      {{i18n __ "site.name"}}
    </a>
  </h1>
  <form class="search" action="{{languagePrefix}}/bots/search">
    <input name="q" placeholder="{{ or query (i18n __ "intro.search") }}" autocomplete="off" required>
    <button><i class="emoji twa-left-pointing-magnifying-glass"></i></button>
  </form>
  <div class="links">
    <a class="{{class}}" aria-label="Languages" href="{{languagePrefix}}/locale?to={{encodeURIComponent url}}">
      <span class="emoji twa-globe-showing-europe-africa" />
    </a>
    {{#if user.id}}
      <a class="{{class}} ls-script" href="{{languagePrefix}}/bots/add">{{i18n __ "navbar.add"}}</a>
      <a class="{{class}}" href="{{languagePrefix}}/bots/by/{{user.id}}">{{user.username}}</a>
      <a class="{{class}}" href="{{languagePrefix}}/auth/logout">{{i18n __ "navbar.logout"}}</a>
    {{else}}
      <a class="{{class}}" href="{{languagePrefix}}/auth?to={{encodeURIComponent url}}">{{i18n __ "navbar.login"}}</a>
    {{/if}}
    {{#if user.admin}}
      <a class="{{class}}" href="{{languagePrefix}}/admin">{{i18n __ "navbar.admin"}}</a>
    {{/if}}
  </div>
</div>
